<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.eStore.app"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
   <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
         <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".HomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
           
          
        </activity>
        
        <activity android:name=".StoreActivity" android:label="@string/store"></activity>         
        <activity android:name=".RegisterActivity" android:label="@string/register"></activity>
       <activity android:name=".ForgotPasswordActivity" android:label="@string/forgot"></activity>
       <activity android:name=".ProfileActivity" android:label="@string/profile"></activity>
       <activity android:name=".ProductDetailActivity" android:label="@string/product"></activity>
       <activity android:name=".PaymentActivity" android:label="@string/payment"></activity>
       <activity android:name=".OrderSummaryActivity" android:label="@string/order"></activity>
       <activity android:name=".ProfileAddressActivity" android:label="@string/profile"></activity>
    </application>
</manifest>
